@namespace Osirion.Blazor.Cms.Components
@inherits OsirionComponentBase

<div class="@GetContentViewClass()">
    <div class="osirion-content-body">
        @if (Item?.Content is not null)
        {
            <OsirionHtmlRenderer HtmlContent="@Item.Content" />
        }
    </div>
</div>