@namespace Osirion.Blazor.Cms.Components
@inherits OsirionComponentBase

@LoadScript("https://cdn.jsdelivr.net/gh/obrana-boranija/Osirion.Blazor@master/src/Osirion.Blazor.Core/wwwroot/js/prism.js");

<div class="@GetContentViewClass()">
    <div class="osirion-content-body">
        @if (Item?.Content is not null)
        {
            @((MarkupString)Item.Content)
        }
    </div>
</div>