@namespace Osirion.Blazor.Cms.Components

<div class="@GetContentViewClass()">
    <div class="osirion-content-body">
        @if(Item?.Content is not null)
        {
            @((MarkupString)Item.Content)
        }
    </div>
</div>