@inherits LayoutComponentBase

<NavMenu />
<div class="page bg-test">
@*     <div class="sidebar" style="width: auto">
        <Menu Orientation="MenuOrientation.Vertical" Style="width: 300px;">
            <MenuGroup Label="Main">
                <MenuItem Text="Dashboard" Icon="dashboard" Href="/admin" />
                <MenuItem Text="Users" Icon="user" Href="/admin/users" />
                <MenuItem Text="Settings" Icon="settings" Href="/admin/settings" />

                <MenuItem Text="Osirion" HasSubmenu="true">
                    <MenuItem Text="Nav" Href="navigation-demo" />
                    <MenuItem Text="Nav Server" Href="navigation-server-demo" />
                    <MenuItem Text="Nav WASM" Href="navigation-wasm-demo" />
                </MenuItem>
            </MenuGroup>
            <MenuDivider Label="Content" />
            <MenuGroup Label="Content Management" Expanded="true">
                <MenuItem Text="Pages" Href="/admin/pages" />
                <MenuItem Text="Blog" Href="/admin/blog" />
                <MenuItem Text="Media" Href="/admin/media" />
            </MenuGroup>
            <MenuDivider />
            <MenuItem Text="Logout" Icon="user" Href="/logout" />
        </Menu>
    </div> *@

    <main>
        @*         <div class="top-row px-4">
            <div class="d-flex justify-content-between w-100">
                <div>
                     <a href="https://github.com/obrana-boranija/Osirion.Blazor" target="_blank">GitHub</a>
                </div>
            </div>
        </div> *@



        <article class="content px-4">
            @* <div class="bg-test"></div> *@
            @Body
        </article>
    </main>
</div>

<OsirionStyles />
<ScrollToTopProvider />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
