<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Osirion.Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="static-demo">
                <span class="bi bi-file-earmark-text-fill" aria-hidden="true"></span> Static Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Interactive WASM
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="server-demo">
                <span class="bi bi-server" aria-hidden="true"></span> Server Interactive
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cms-demo">
                <span class="bi bi-collection-fill" aria-hidden="true"></span> CMS Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation-demo">
                <span class="bi bi-arrow-up-circle-fill" aria-hidden="true"></span> Navigation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation-server-demo">
                <span class="bi bi-arrow-up-circle-fill" aria-hidden="true"></span> Navigation Server
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="navigation-wasm-demo">
                <span class="bi bi-arrow-up-circle-fill" aria-hidden="true"></span> Navigation Wasm
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analytics-demo">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Analytics
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="debug">
                <span class="bi bi-bug-fill" aria-hidden="true"></span> Debug Info
            </NavLink>
        </div>

        <hr class="text-light my-2" />
        <div class="px-3 text-light fw-bold">Content</div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="content/blog/enhanced-navigation-interceptor.md">
                <span class="bi bi-file-text-fill" aria-hidden="true"></span> Enhanced Navigation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="content/blog/github-cms-with-blazor.md">
                <span class="bi bi-file-text-fill" aria-hidden="true"></span> GitHub CMS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="content/docs/getting-started-with-osirion-blazor.md">
                <span class="bi bi-file-text-fill" aria-hidden="true"></span> Getting Started
            </NavLink>
        </div>
    </nav>
</div>

