@inherits OsirionComponentBase

<div class="@GetCssClass()">
    <div class="osirion-markdown-editor-toolbar">
        @foreach (var action in ToolbarActions)
        {
            <button type="button"
                    class="osirion-markdown-toolbar-button"
                    @onclick="() => action.Action(Content)">
                @action.Label
            </button>
        }
    </div>

    <textarea @ref="_textAreaRef"
              @bind="Content"
              @bind:event="oninput"
              class="osirion-markdown-editor-textarea"
              placeholder="@Placeholder"
              @onkeydown="HandleKeyDown"></textarea>
</div>