@inherits OsirionComponentBase

<div class="@GetPreviewClass()">
    <div class="osirion-markdown-preview-container">
        @if (ShowHeader)
        {
            <div class="osirion-markdown-preview-header">
                <h3 class="osirion-markdown-preview-title">@Title</h3>
            </div>
        }

        <div @ref="PreviewContentRef" class="osirion-markdown-preview-content" @onscroll="OnPreviewScroll">
            @((MarkupString)RenderedHtml)
        </div>
    </div>
</div>