@using Osirion.Blazor.Navigation.Components
@using Osirion.Blazor.Theming.Components
@inherits LayoutComponentBase

<NavMenu />

<div class="page bg-test">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<OsirionStyles />
<ScrollToTopProvider />

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
