@namespace Osirion.Blazor.Navigation.Components
@inherits OsirionComponentBase

<div class="@CombineCssClasses("osirion-menu-divider")" role="separator" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <span class="osirion-menu-divider-label">@Label</span>
    }
</div>