@namespace Osirion.Blazor.Cms.Admin.Features.Security.Components
@inherits BaseComponent
@using Osirion.Blazor.Cms.Admin.Features.Authentication.Components
@using Osirion.Blazor.Cms.Admin.Shared.Components
@using Osirion.Blazor.Cms.Domain.Interfaces

@ChildContent

@* @if (authService.IsAuthenticated)
{
    @ChildContent
}
else
{
    @if (ShowLoginForm)
    {
        <Login ReturnUrl="@ReturnUrl" OnLoginResult="HandleLoginResult" />
    }
    else
    {
        <div class="d-flex align-items-center justify-content-center min-vh-100 p-4">
            <div class="card shadow-sm border rounded-3 p-4 text-center" style="max-width: 400px; width: 100%;">
                <div class="mb-3">
                    <i class="bi bi-shield-lock text-danger" style="font-size: 3rem;"></i>
                </div>
                <h4 class="mb-3">Authentication Required</h4>
                <p class="mb-4 text-secondary">You need to sign in to access this area.</p>
                <button type="button"
                        class="btn btn-primary"
                        @onclick="RedirectToLogin">
                    Sign In
                </button>
            </div>
        </div>
    }
} *@