@namespace Osirion.Blazor.Cms.Core.Components
@inherits Osirion.Blazor.Components.OsirionComponentBase

<div class="@GetLayoutClass()">
    <div class="osirion-sidebar">
        @SidebarContent
    </div>
    <div class="osirion-main-content">
        @MainContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment SidebarContent { get; set; }
    [Parameter] public RenderFragment MainContent { get; set; }
    [Parameter] public bool SidebarOnRight { get; set; } = false;
    [Parameter] public bool StickyNavigation { get; set; } = true;

    private string GetLayoutClass()
    {
        var layoutClass = "osirion-layout-with-sidebar";

        if (SidebarOnRight)
            layoutClass += " osirion-sidebar-right";

        if (!StickyNavigation)
            layoutClass += " osirion-sidebar-static";

        return $"{layoutClass} {Class}".Trim();
    }
}