@using Osirion.Blazor.Analytics.Components
@using Osirion.Blazor.Navigation.Components
@using Osirion.Blazor.Theming
@using Osirion.Blazor.Theming.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Osirion.Blazor.Example.Fluent.styles.css"]" />

    <ImportMap />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    @* Analytics tracking *@
    <ClarityTracker />
    <MatomoTracker />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <FluentDesignTheme Mode="DesignThemeModes.Light" CustomColor="#007b31" StorageName="theme" />

    <script src="_framework/blazor.web.js"></script>

    <EnhancedNavigation />
    <ScrollToTopProvider />
</body>

</html>
