@using Osirion.Blazor.Analytics.Components
@using Osirion.Blazor.Navigation.Components
@using Osirion.Blazor.Theming.Components
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    
    @* Resource hints for performance optimization *@
    <link rel="preconnect" href="https://images.unsplash.com">
    <link rel="dns-prefetch" href="https://images.unsplash.com">
    
    <link rel="stylesheet" href="@Assets["Osirion.Blazor.Example.Bootstrap.styles.css"]" />
    <link rel="stylesheet" href="@Assets["app.min.css"]" />

    <link rel="icon" type="image/png" href="favicon.png" />

    <HeadOutlet />

    <ClarityTracker />
    <MatomoTracker />
    <GA4Tracker />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <EnhancedNavigation />
</body>

</html>
