@using Osirion.Blazor.Analytics.Components
@using Osirion.Blazor.Navigation.Components
<!DOCTYPE html>
<html lang="en" class="osirion-bootstrap-integration bg-test" data-bs-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.min.css"]" />
    <link rel="stylesheet" href="@Assets["Osirion.Blazor.Example.Bootstrap.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />

    <ClarityTracker />
    <MatomoTracker />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <EnhancedNavigation />
</body>

</html>
