@using Osirion.Blazor.Analytics.Components
@using Osirion.Blazor.Navigation.Components
@using Osirion.Blazor.Theming.Components
<!DOCTYPE html>
<html lang="en" class="osirion-bootstrap-integration" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.min.css"]" />
    <link rel="stylesheet" href="@Assets["Osirion.Blazor.Example.Bootstrap.styles.css"]" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    
    <link rel="icon" type="image/png" href="favicon.png" />

    
    

    

    <OsirionStyles />
    <HeadOutlet />
    
    @* <ImportMap /> *@
    <ClarityTracker />
    <MatomoTracker />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <EnhancedNavigation />
</body>

</html>
