@namespace Osirion.Blazor.Components
@inherits OsirionComponentBase

@if (Show)
{
    <div class="@CssClasses"
         @attributes="AosAttributes">
        @ChildContent
    </div>

    @LoadScript("./_content/Osirion.Blazor.Core/js/osirion-animation.es5.min.js")
}
else
{
    @ChildContent
}