@using Osirion.Blazor.Theming
<!DOCTYPE html>
<html lang="en" class="osirion-bootstrap-integration" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet" /> *@
    
    
@*     <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" /> *@
    <link rel="stylesheet" href="@Assets["app.min.css"]" />
    <link rel="stylesheet" href="@Assets["Osirion.Blazor.Example.styles.css"]" />

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />

    @* Analytics tracking *@
    <ClarityTracker />
    <MatomoTracker />

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <EnhancedNavigation />
    
</body>

</html>
