@inject NavigationManager NavigationManager
@using Osirion.Blazor.Services.GitHub

<form method="get" action="/search" class="search-box">
    <input name="q"
           value="@SearchQuery"
           type="text"
           placeholder="@Placeholder"
           class="search-input" />
    <button type="submit" class="search-button">Search</button>
</form>

@code {
    [Parameter]
    public string Placeholder { get; set; } = "Search content...";

    [Parameter]
    [SupplyParameterFromQuery(Name = "q")]
    public string SearchQuery { get; set; } = string.Empty;
}